html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: smaller;
}

@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%); 
  }
}

.scroll-container {
  display: flex;
  width: 100%;
  overflow: hidden;      
  position: relative;
  border-radius: 20px;
  height: 42rem;
  justify-content: center;
}

.scroll-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: scroll 30s linear infinite;
  width: 100%; 
}

.scroll-content img {
  height:auto;
  width: 100%;   
}

@media only screen and (max-width: 1024px) {
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  .scroll-container {
    display: flex;
    width: 100%;
    overflow: hidden;      
    position: relative;
    border-radius: 20px;
    height: 12rem;
    justify-content: center;
  }
  
  .scroll-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: scroll 30s linear infinite;
    width: 100%; 
  }
  
  .scroll-content img {
    height:auto;
    width: 100%;   
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.hover-text {
  display: inline-block;
  position: relative;
  color: #696565;
  cursor: pointer;
}

/* Create the line */
.hover-text::after {
  content: '';
  position: absolute;
  left:0;
  transform: translateY(10px) translateX(-14px);
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.3s ease-in-out;
}

/* Expand the line on hover */
.hover-text:hover::after {
  width: 12px;
}